In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("data.csv")

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000


\begin{gather*}
{\displaystyle Logistic\ Regression}\\
\\
{\displaystyle --\ Giả\ sử\ xác\ suất\ một\ tập\ hợp\ features\ thuộc\ vào\ phân\ lớp\ 1,\ gọi\ là\ p}\\
{\displaystyle P( y\ =\ 1\ |\ w,\ x) \ =\ p\ \ \ \ \ \ \ \ }\\
{\displaystyle P( y\ =\ 0\ |\ w,\ x) \ =\ 1\ -\ p}\\
P( y\ |\ p) \ =\ p^{y} \ *\ ( 1-p)^{1-y} \ \ \\
( Phân\ phối\ Bernoulli)\\
\\
\rightarrow \ Xác\ suất\ tổng\ quát\ trên\ một\ tập\ dữ\ liệu\ là:\\
P( y\ |\ p) \ =\ \coprod _{i=1}^{n} p_{i} \ ^{y_{i}} \ *\ ( 1-p_{i})^{1-y_{i}}\\
\\
\rightarrow \ Mục\ tiêu\ là\ tìm\ w\ sao\ cho\ xác\ suất\ trên\ đạt\ maximum\ hay\ hàm\ số\ sau\ đạt\ cực\ tiểu:\\
Loss( p,\ y) \ =\ -log\ ( P( y\ |\ p)) \ =\ -\sum _{i=1}^{n} y_{i} \ *\ log( p_{i}) \ +\ ( 1-y_{i}) \ *\ log( 1\ -\ p_{i})\\
\\
Giả\ sử\ rằng:\ p=f\left( w^{T} x\right) ,\ khi\ đó\\
Loss( w,\ x,\ y) \ =\ -\sum _{i=1}^{n} y_{i} \ *\ log\left( f\left( w^{T} x_{i}\right)\right) \ +\ ( 1-y_{i}) \ *\ log\left( 1\ -\ f\left( w^{T} x_{i}\right)\right)\\
\\
\\
Optimizer:\ Using\ Stochastic\ Gradient\ Descent\\
\\
\frac{\partial Loss_{i}}{\partial w} =-\frac{y_{i}}{p_{i}} \ *\ \frac{\partial p_{i}}{\partial w} \ \ +\frac{1-y_{i}}{1-p_{i}} \ *\ \frac{\partial p_{i}}{\partial w} \ \ =\frac{\partial p_{i}}{\partial w} \ *\ \left(\frac{1-y_{i}}{1-p_{i}} -\frac{y_{i}}{p_{i}}\right) =\frac{\partial p_{i}}{\partial w} \ *\ \frac{p_{i} -y_{i}}{p_{i} \ *\ ( 1-p_{i})} \ ( *)\\
\\
\Longrightarrow \ Giả\ sử\ p_{i} =f\left( w^{T} x\right)\\
Đặt\ s=w^{T} x\ \Longrightarrow \ p_{i} \ =\ f( s)\\
\\
\frac{\partial p_{i}}{\partial w} =\frac{\partial p_{i}}{\partial s} \ *\ \frac{\partial s}{\partial w} =\frac{\partial p_{i}}{\partial s} \ *\ x\\
\\
\Longrightarrow \ \ tìm\ \frac{\partial p_{i}}{\partial s} \ mà\ khi\ đạo\ hàm\ triệt\ tiêu\ đi\ p_{i} \ *\ ( 1-p_{i}) \ trong\ phương\ trình\ ( *) \ \Longrightarrow f\ là\ hàm\ Sigmoid\ \\
\\
f( x) =\frac{1}{1+e^{-x}} =\sigma ( x)\\
\\
\Longrightarrow \ ( *) \ =\ ( p_{i} \ -\ y_{i}) \ *\ x_{i}\\
\\
w\ =\ w\ -\ \eta \ *\ ( p_{i} \ -\ y_{i}) \ *\ x_{i} \ =\ w\ -\ ( \sigma ( x) -y_{i}) *x_{i} \ \\
\end{gather*}